body{
    background-color: white;
    background-image: url('https://tm.ibxk.com.br/2023/08/08/08142450075192.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

table{
    border: 4px blue dotted; /*dotted solid and double*/

    border-top: 4px solid black;
    border-bottom: 4px dashed white;
    border-left: 4px double yellow;
    border-right: 4px dashed burlywood;

    width: 100px;
    height: 100px;
    outline: orange 4px solid;
    box-shadow: 10px 10px 15px purple;
}

div{
    background-color: yellow;
    font-size: 30px;
    width: 80%;
    height: 500px;
    margin: auto;
    line-height: 60px;
    word-spacing: 30px;
    text-align: justify;
    border-radius: 30px;
    padding: 20px;
    vertical-align: bottom; /*top. middle*/
}

    div:hover{
        box-shadow: 10px 10px 15px red;
        transition: all 2s linear;
        opacity: 0.5; /*Deixar trasparente*/
        /* transform: scale(1.1);
        transform: rotate(40deg);
        transform: rotateZ(80deg);
        color: purple; */
    }
